body {
    background-color: rgba(0, 0, 0);
}

/*caja de contenido*/
.container {
    background-color: white;
    color: black;
    font-family: "roboto";
    width: 510px;
    margin: auto;
    justify-content: center;
    margin-top: 70px;
}

/*div superior*/
.post-header {
    display: flex;
    padding: 9px 10px;
}

.name {
    margin-left: 10px;
    padding-right: 20px;
    line-height: 0.2;
}

div [class="post-header"] :nth-child(3) {
    transform: scale(1.1);
    padding-right: 300px;
    padding-top: 28px;
    color: rgba(12, 85, 243, 0.911);
}

.icon {
    width: 20px;
    height: 55px;
    transform: scale(1.7);
    margin: 0 5px;
}

/*Seccion imagen*/
img {
    position: relative;
    width: 510px;
    height: 500px;
}

/*div inferior*/
.post {
    padding: 10px 15px;
}

.ion {
    display: flex;
    gap: 4px;
    transform: scale(1.9);
    font-weight: 5000;
    padding: 9px 1px 5px 110px;
    --ionicon-stroke-width : 40px;
    font-size: 15px;
}

div [class="ion"] :nth-child(3) {
    font-size: 9px;
    font-weight: 5000;
    margin-top: 3px;
}

.ion :nth-child(4){
    margin-right: 165px;
}
