body {
    background-color: black;
}

/*caja de contenido*/
.container {
    background-color: white;
    color: black;
    font-family: "roboto";
    width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

/*seccion name usuario*/
.post-header {
    display: flex;
    padding-left: 10px;
  
}

.icon {
    width: 20px;
    height: 60px;
}

/*Seccion imagen*/

img {
    width: 500px;
    height: 500px;
}

/*div posterior*/
.ion {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.post p:nth-last-child(1) {
    padding-bottom: 20px;
}
div [class="post"] p, .ion{
    margin-left: 10px;
}