body {
    background-color: black;
}

.container {
    background-color: white;
    color: black;
    font-family: "roboto";
    width: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.post-header {
    display: flex;
    padding-left: 10px;
    
}

img {
    width: 500px;
    height: 500px;
}

.icon {
    width: 20px;
    height: 50px;
}

.name {
    display: inline-block;
}